body {
  margin-right: 0;
  margin-left: 0;
  text-align: justify;
}

header {
  margin-right: 5px;
  margin-left: 5px;
}

.menu1, .menu2, .menu3 {
  padding-left: 0;
  padding-right: 0;
}

.titre, .titre1, .titre2, .titre3 {
  text-align: center;
}

.title {
  margin-top: 50px;
}

#main {
  padding-top: 30px;
}